<html>
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Book</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>
    <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
    <form action="/Details" method="post">
        <div th:each="artis : ${artists}">
            <input required type="radio" name="artistId" th:value="${artis.id}"/><span th:text="${artis.firstName}+' '+${artis.lastName}"></span><br/>
        </div>
        <input type='submit' value='Add artist'>
    </form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Track Id</b></td>
            <td th:text="${idtrack}"></td>
        </tr>
    </table>
</aside>
</body>
</html>